body{
    font-family: arial, sans-serif;
}

h1 {
    font-size: 32px;
    text-align: center;
    font-style: bold;
}

table, tr, td, th{
    border: solid black;
    border-width: 1px;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 300px;
}
